.cart {
    margin-top: 150px;
}

.cart-total {
    display: flex;
    justify-content: flex-end;
}

.total {
    margin-right: 20px;
}

.cart-btn__container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.cart-btn {
    width: 300px;
    margin-top: 50px;
    padding: 10px;
    border: none;
    background-color: #f85555;
    margin-bottom: 50px;
}