.header {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #FFF;
}

.header-title {
    color: #f85555;
    font-size: 24px;
    font-weight: 700;
    padding: 14px 20px;
}

.header-list {
    display: flex;
    justify-content: space-around;
    width: 40vw;
}

.header-item {
    padding: 14px;
}

.header-icon{
    color: #ababab;
    width: 22.41px;
    height: 22px;
}